# ==================================================
# INSTRUCCIONES
# 1. Copiar este archivo y renombrarlo a .env
# 2. Reemplazar los valores de ejemplo
# ==================================================

POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=ecommerce
POSTGRES_PORT=5432